<!-- メニュー -->
<div class="header">
  <div class="container">
    <div class="liner">
      <app-menu></app-menu>
    </div>
  </div>
</div>

<!-- ツールバー -->
<app-toolbar></app-toolbar>

<!-- 左側面のボタン -->
<div class="body-container">
  <div class="btn-group" [ngClass]="{ toggled: isToggled }">
    <nav class="nav-left-body-container" (scroll)="onScroll($event)">
      <div class="input-area">
        <a (click)="calcrate()" class="btn-md btn-calc">
          <div class="icon-calc">
            <svg
              width="20"
              height="24"
              viewBox="0 0 20 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.7865 0H2.21354C1.6059 0 1.08507 0.234464 0.651042 0.7034C0.217012 1.17234 0 1.73505 0 2.39156V21.6084C0 22.2649 0.217012 22.8277 0.651042 23.2966C1.08507 23.7655 1.6059 24 2.21354 24H17.7865C18.3941 24 18.9149 23.7655 19.349 23.2966C19.783 22.8277 20 22.2649 20 21.6084V2.39156C20 1.73505 19.783 1.17234 19.349 0.7034C18.9149 0.234464 18.3941 0 17.7865 0ZM2.21354 21.6084V2.39156H17.7865V21.6084H2.21354ZM4.45312 11.9859H6.66667V14.4056H4.45312V11.9859ZM4.45312 16.7972H6.66667V19.1887H4.45312V16.7972ZM8.88021 11.9859H11.1198V14.4056H8.88021V11.9859ZM4.45312 4.78312H15.5469V9.59437H4.45312V4.78312ZM8.88021 16.7972H11.1198V19.1887H8.88021V16.7972ZM13.3333 11.9859H15.5469V19.1887H13.3333V11.9859Z"
                fill="white"
              />
            </svg>
          </div>
          <p translate>app.calculate</p>
        </a>
        <hr class="hr" />
        <!-- 材料ボタン -->
        <div class="btn-wrap">
          <a
            routerLink="./input-source"
            (click)="contentsDailogShow(3)"
            routerLinkActive="selected-item"
            id="3"
            class="btn-md btn-blue"
          >
            <div class="icon-img">
              <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M24 10L8.00021 10"
                  stroke="black"
                  stroke-width="2.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M16 21.5L16 10.5"
                  stroke="black"
                  stroke-width="2.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M24 22L8.00021 22"
                  stroke="black"
                  stroke-width="2.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <p translate>app.element</p>
          </a>
          <div class="explain-area" [style.transform]="translateY">
            <div class="item-name" translate>app.element</div>
            <div class="item-description" translate>
              app.description.element
            </div>
            <a target="_blank" rel="noopener" href="https://fresh-tachometer-148.notion.site/FrameWeb-3b1432e6a03647bc85e20c55ade84e96#700a77e978eb4530839bbf06d0693e53" class="btn" translate>app.description.detail</a>
          </div>
        </div>
        <!-- 節点ボタン -->
        <div class="btn-wrap">
          <a
            routerLink="./input-nodes"
            (click)="contentsDailogShow(0)"
            routerLinkActive="selected-item"
            id="0"
            class="btn-md btn-blue"
          >
            <div class="icon-img ppt">
              <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="3"
                  y="15"
                  width="26"
                  height="2"
                  rx="1"
                  fill="black"
                />
                <circle
                  cx="16"
                  cy="16"
                  r="4"
                  fill="white"
                  stroke="black"
                  stroke-width="2"
                />
              </svg>
            </div>
            <p translate>app.node</p>
          </a>
          <div class="explain-area" [style.transform]="translateY">
            <div class="item-name" translate>app.node</div>
            <div class="item-description" *ngIf="helper.dimension == 3" translate>
              app.description.node-3D
            </div>
            <div class="item-description"  *ngIf="helper.dimension == 2" translate>
              app.description.node-2D
            </div>
            <a target="_blank" rel="noopener" href="https://fresh-tachometer-148.notion.site/FrameWeb-3b1432e6a03647bc85e20c55ade84e96#8ecbfb63786f4c6cad35fd1cebd123e7" class="btn" translate>app.description.detail</a>
          </div>
        </div>
      </div>
      <!-- 最小化ボタン -->
      <a (click)="toggle()" class="toggle-button btn-blue close">
        <div>
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.2499 15.2697L13.9691 8.36515C13.4557 7.87828 12.9424 7.87828 12.429 8.36515C12.1956 8.58645 12.0789 8.84094 12.0789 9.12863C12.0789 9.41632 12.1956 9.64869 12.429 9.82573L18.8697 16L12.429 22.1743C11.8689 22.6611 11.8572 23.148 12.394 23.6349C12.9307 24.1217 13.4557 24.1217 13.9691 23.6349L21.2499 16.7303C21.4833 16.5532 21.6 16.3098 21.6 16C21.6 15.6902 21.4833 15.4468 21.2499 15.2697Z"
              fill="black"
            />
          </svg>
        </div>
        <p translate>app.close</p>
      </a>
    </nav>
  </div>
</div>

<!-- three.js -->
<div id="body-container-id">
  <div class="three-container" id="three-container-id">
    <app-three></app-three>
  </div>
</div>

<!-- ドッキングウィンドウ -->
<app-doc-layout
  cdkDrag
  [cdkDragFreeDragPosition]="dragPosition"
  id="contents-dialog-id"
>
  <div *ngIf="helper.isContentsDailogShow">
    <router-outlet></router-outlet>
  </div>
</app-doc-layout>

<!-- チャットボタン -->
<div class="over-three right-buttom">
  <app-chat></app-chat>
</div>

<!--「別の場所からこのアカウントでログインされました」画面 -->
<app-activate-session></app-activate-session>