@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://unpkg.com/pqgrid@9.0.1/pqgrid.min.css");
@import "../node_modules/pqgrid/pqgrid.ui.min.css";
@import "../node_modules/pqgrid/themes/steelblue/pqgrid.css";
@import "../node_modules/dock-spawn-ts/lib/css/dock-manager.css";
@import "../node_modules/dock-spawn-ts/lib/css/dock-manager-style.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


/* Add application styles & imports to this file! */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  overflow: hidden;
}
